<!-- cardComponent.html -->

<div class="card-item">
  <img class="card-image" />
  <div class="card-details">
    <div class="card-header">
      <h3 class="card-name"></h3>
      <img class="card-icon" />
    </div>
    <div class="card-infos card-ranklvl disabled">
      <img class="card-ranklvl-image" /><span class="card-ranklvl-span"></span>
    </div>
    <div class="card-infos card-badge disabled">
      <span class="card-badge-span link"></span>
    </div>
    <div class="card-types disabled">
      <span class="card-types-span"></span>
    </div>
    <div class="card-effect"></div>
    <div class="card-atk-def">
      <span class="card-atk-span"></span>
      <span class="card-def-span"></span>
    </div>
  </div>
</div>
